#exclude data from repository

/src/data/raw/
/src/data/external/
/src/data/interim/
/src/data/processed/
/src/reports/figures/

/src/data/raw/**
/src/data/external/**
/src/data/interim/**
/src/data/processed/**



!/src/data/raw/.gitignore
!/src/data/external/.gitignore
!/src/data/interim/.gitignore
!/src/data/processed/.gitignore
.idea/workspace.xml
!/src/reports/figures/.gitignore